h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Vina Sans', sans-serif;
}

#nav {
    margin-bottom: 100px; /* Ajusta el valor según sea necesario */
}

/* Centrar el boton de volver en registrar automotor */
.centrar {
    margin-top: 20px;
}